



<div class="p-5 rounded mt-3">
    <h1>Listar usuários</h1>

  {{#if table}}
  <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#ID</th>
      <th scope="col">Nome</th>
      <th scope="col">E-mail</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    {{#each usuarios}}
    <tr>
      <th scope="row">{{id}}</th>
      <td>{{nome}}</td>
      <td>{{email}}</td>
      <td>
        <div class="row g-1">
          <div class="col-6 col-md-3">
            <form action="/editar" method="post">

              <input type="hidden"  name="id" value="{{id}}">
              <button type="submit" class="btn btn-info w-100 text-white">Editar</button>
            
            </form>
          </div>
          <div class="col-6 col-md-3">

            <a href="#" class="btn btn-danger w-100">Deletar</a>


          </div>
        </div>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{else}}
<div class="card mt-4">
  <div class="card-body">
    Nenhum dado encontrado!
  </div>
</div>
{{/if}}
  </div>